<p id="notice"><%= notice %></p>

<body>

  <header>
    <nav>
      <ul class="navbar navbar-default navbar-fixed-top navbar navbar-inverse">
        <li><%= link_to 'Home', pictures_path %></li>
      </ul>
    </nav>
  </header>

  <h1 id="site-title">Top Cities in Florida</h1>
  <p>
  <section id="main-article">
    Florida, the Sunshine State! Its nickname certainly rings true as this is one of the sunniest states in the country, making it a popular place to live, but Florida is not without its bad weather too! Known around the globe as the home of Walt Disney World, the Kennedy Space Center, the Everglades, and bustling cities like Miami, Jacksonville, and Orlando, Florida is a great place to visit and live!
  </section>

  <section id="locations">
    <div class="each-location">


        <% @pictures.each do |picture| %><br>
        <div id="center-photo">

          <ul>
            <li><h3><%= picture.location %></h3></li>
            <li><img id="shrink"<%= image_tag picture.url %></li>
            <li id="view-button"><%= link_to 'View More', picture, class: 'btn btn-default btn-sm' %></li>
          </ul>

        </div>
        <% end %>


      <br>
    </div>
  </section>

</body>

<!-- Removed button for demo -->
<!-- <%= link_to 'New Picture', new_picture_path, class: 'btn btn-default btn-sm' %> -->
