<p id="notice"><%= notice %></p>

<body>
    <header>
      <nav>
        <ul class="navbar navbar-default navbar-fixed-top navbar navbar-inverse">
          <li><%= link_to 'Home', pictures_path %></li>
        </ul>
      </nav>
    </header>

    <div class="each-location">
        <h1><%= @picture.location %></h1>
      <p class="picture">
        <%= image_tag @picture.url %>
      </p>

      <p>
        <strong><%= @picture.location %>:</strong>
        <%= @picture.description %>
      </p>

    <div class="reviews"
      <h5>New Review</h5>
      <%= render 'reviews/form' %>

      <h4>Reviews</h4>
      <% @picture.reviews.each do |review| %>
        <p>
          <%= review.comment %><br>
          <i>Posted <%= time_ago_in_words review.created_at %></i>
        </p>
      <% end %>
    </div>
    </div>

</body>
