<p id="notice"><%= notice %></p>

<p>
  <strong>picture:</strong>
  <%= @review.picture.location %>
</p>

<%= link_to 'Edit', reviews_path(@review) %> |

<% if @review.picture.nil? %>
  <%= link_to 'Back', reviews_path %>

<% else %>
  <%= link_to 'Done', @review.picture %>
<% end %>
